<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
	  
    Welcome to {{ title }}!
     
  </h1>
  <h2><img src="https://s3.amazonaws.com/mulwa/test.jpg" alt="" width="125" height="125" alt="" /></h2>
  <h3>
	  Education is the passport to the future, for tomorrow belongs to those who prepare for it today.<br> Education is not preparation for life; education is life itself.<br>The function of education is to teach one to think intensively and to think critically. <br>Intelligence plus character - that is the goal of true education.
  </h3>
</div>

